.header {
  position:fixed;
  top:0;left:0;
  width:100%;
  background-color:#800021;
  padding-bottom:20px;
}

.content {
  margin-top:150px;
}

h2 {
  font-family: Roboto;
  color: #d4af37;
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 15px;
}

.nav >a {
  font-family: Roboto;
  color: white;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  padding:0px 10px 0px 10px;
  font-weight: 200;
}

.nav > a:hover {
  color: #d4af37;
}

.section {
  padding-top: 120px;
}

h1 {
  margin:10px;
}

h1 > a {
  color: #d4af37;
  text-decoration: none;
  font-size: 28pt;
  font-weight: 300;
}

h3 {
  color: #800021;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18pt;
}

@media screen and (max-width: 600px) {
  .navitem {
    display: block;
  }

  .nav {
    margin-top:-15px;
  }

  h1 {
    margin-bottom: 0;
  }

  .header {
    padding-bottom: 10px;
    position: absolute;
  }

  .content {
    margin-top:170px;
  }

  .section {
    padding-top: 0px;
  }
}
